.project-container {
    border-radius: 10px;
    margin: 7px;
    text-align: center;
    border: 1px solid var(--card-border);
    align-items: center;
}

.project-screenshot{
    height: 13vw;
    width: 25vw;
}

@media screen and (max-width: 600px){
    .project-container {
        border-radius: 10px;
        margin: 7px;
        height: 40vw;
        text-align: center;
    }

    .project-screenshot{
        height: 20vw;
        width: 35vw;
    }
}


/* Mobile Screen */
@media screen and (max-width: 768px){
    .project-container{
        border-radius: 10px;
        margin: 7px;
        text-align: center;
        align-items: center;
    }
    .project-screenshot{
        height: 20vw;
        width: 35vw;
    }
}

/* Mobile Screen */
@media screen and (max-width: 600px){
    .project-container{
        height: 100%;
        width: 70vw;
        border-radius: 10px;
        margin: 7px;
        text-align: center;
        align-items: center;
    }
    .project-screenshot{
        height: 34vw;
        width: 55vw;
    }
}

.project-title, .project-screenshot{
    padding:5px;
}

.project-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1000vw;
}

.project-buttons-container{
    margin-top: auto;
    padding: 5px;
}
