.project-container{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--themelight);
    border-radius: 10px;
    margin: 7px;
    width: 300px;
    height: 150px;

}

.project-title, .project-screenshot{
    padding:5px;
}

.project-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-buttons-container{
    padding: 5px;
}