.personal-projects-container{
    /* background-color: var(--themedark); */
    height: 100vh;
    text-align: center;
}

.projects-title{
    padding-top: 1vh;
    font-size:large;
    color: var(--font-color);
}

.projects {
    /* display: inline-flex; */
    display: flex;
    flex-wrap: wrap;
    color: var(--themelight);
}

.project {
    flex: 0 0 50% !important;        /* Each child takes 50% width */
    box-sizing: border-box;
    padding: 8px;         /* Optional: spacing between items */
}

/* Mobile Screen */
@media screen and (max-width: 474px){
    .projects {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .projects > * {
        flex: 0 0 100%;
    }
}

.divider-band{
    background-color: var(--themelight);
    color: var(--themelight);
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 10px;
}