.personal-projects-container{
    width: min(100%, 900px);
    margin: 0 auto;
    text-align: center;
}

.projects-title{
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1vh;
    color: var(--text-primary);
}

.projects {
    /* display: inline-flex; */
    display: flex;
    flex-wrap: wrap;
    color: var(--text-primary);
}

.project {
    flex: 0 0 50% !important;        /* Each child takes 50% width */
    box-sizing: border-box;
    padding: 8px;         /* Optional: spacing between items */
}

/* Mobile Screen */
@media screen and (max-width: 474px){
    .projects {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .projects > * {
        flex: 0 0 100%;
    }
}

.divider-band{
    background-color: var(--card-border);
    color: var(--card-border);
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 10px;
}