.skill-card{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    background-color: var(--skillcard);
}

.skill-card:hover{
    background-color: var(--skillcard-hover);
}

.skill-logo{
    /* height: 50px; */
    height: 6.5vw;
    /* width: 62.5px; */
    width: 7.2vw;
}

.skill-name{
    font-size: 12px;
}