.skill-card{
    display: flex;
    align-items: center;
    vertical-align:middle;
    border: 1px solid var(--card-border);
    border-radius: 3px;
    margin: 0;
    padding: 6px 9px;
    background-color: var(--skillcard);
    color: var(--text-primary);
}

/* .skill-card:hover{
    background-color: var(--skillcard-hover);
    color: var(--themedarker-btn);
} */

.skill-logo{
    height: 15px;
    width: 17px;
    padding-right: 6px;
}

.skill-name{
    font-size: 12px;
}

/* Mobile Screen */
@media screen and (max-width: 768px){
    .skill-name{
        font-size: 11px;
    }
    .skill-logo{
        height: 12.5px;
        /* height: 1.625vw; */
        width: 12.5px;
        /* width: 1.7vw; */
        padding-right: 5px;
    }
}