.left-column{
    width: 50vw;
    /* height: 100vh; */

    /* linear-gradient(to right, white, black) */
    background-image: 
        linear-gradient(to right, var(--themedark), var(--transparent), var(--themedark) ),
        url('./../../../public/assets/pexels-italo-melo-881954-2379004.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center, center center;
}