.home {
    display: flex;
    width: min(95%, 900px);
    height: min(90%, 900px);
    box-sizing: border-box;
    margin: clamp(28px, 1vh, 110px) auto;
    padding: clamp(24px, 4vw, 46px);
    align-items: center;
    background: var(--card-background);
    border-radius: 20px;
    box-shadow: 0 16px 35px rgba(34, 36, 43, 0.14);
}

@media screen and (max-width: 600px){
    .home {
        /* width: min(100%, 360px); */
        min-height: 0;
        flex-direction: column;
        /* margin-top: 24px;
        padding: 28px 20px 24px; */
        text-align: center;
    }
}