:root {
    --transparent: rgba(255, 255, 255, 0);
    --font-color: antiquewhite;
    --themedark: rgb(24, 24, 56);
    --themedarker-btn: rgb(0, 0, 48);
    --themelight: rgb(146, 179, 255);
    --skillcard: rgb(209, 223, 255);
    --skillcard-hover: rgb(146, 179, 255);
}

body {
    font-family: 'Poppins', serif;
    font-size: smaller;
    margin: 0px;
    /* background-color: var(--themedark); */
    /* background-image: url('./../public/assets/pexels-italo-melo-881954-2379004.jpg');
    background-size: cover;
    background-size:40%;
    background-repeat: no-repeat; */
    /* background-size: contain; */
}