:root {
    --themedark: rgb(81, 74, 161);
    --themelight: white;
}

body {
    font-family: 'Poppins', serif;
    font-size: smaller;
    margin: 0px;
    /* background-color: var(--themedark); */
    /* background-image: url('./../public/assets/pexels-italo-melo-881954-2379004.jpg');
    background-size: cover;
    background-size:40%;
    background-repeat: no-repeat; */
    /* background-size: contain; */
}