.custom-btn {
    /* background-color: black; */
    background-color: var(--themedarker-btn);
    /* color: white; */
    color: var(--themelight);

    /* border: 1px solid black; */
    border: 1px solid var(--themedarker-btn);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    width:fit-content;
}

.custom-btn:hover{
    /* background-color: white; */
    background-color: var(--themelight);
    /* color: black; */
    color: var(--themedarker-btn);
}